*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background-color: #121212;
    overflow-x: hidden;
}
@font-face {
    font-family: bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: light;
    src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}
@font-face {
    font-family: medium;
    src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}
.main{
    height: 100%;
    width: 100%;
    background-color: #121212;
}
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #000000;
    gap: 16px;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1;
    padding: 16px;
    align-items: center;
}
.spotify-logo{
    display: flex;
    width: 24px;
}
.logo{
    height: 24px;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
    height: 55px;
    z-index: 2;
}
.search{
 align-items: center;
 padding: 0 16px;
 padding-top: 4px;
}
.open{
  font-weight: 700;
  font-family: bold;
  font-size: 0.8125rem;
  padding: 0px;
  border: 0;
  border-radius: 9999px;
  text-align: center;
}
.open-app{
    align-items: center;
 background-color: #fff;
  color: #000;
  border-radius: 9999px;
  justify-content: center;
   padding: 7px 16px;
}
.menu{
    margin-inline-start: 16px;
    padding-top: 5px;
}
.section-class{
  margin-top: 56px;
  height: 100%;
}
.content{
    padding: 0px 16px;
    /* width: 100%;
    height: 100%; */
}
.one-h{
    margin-bottom: 12px;
    margin-top: 80px;
    overflow: hidden;
}
.one-h1{
    margin-bottom: 12px;
    margin-top: 24px;
    overflow: hidden;
}
.one-h2{
    margin-bottom: 12px;
    margin-top: 2px;
    overflow: hidden;
}
.one-h h2{
    font-size: 1.25rem;
    font-family: medium;
    font-weight: 700;
    background-color:#121212;
    color: #fff;
    letter-spacing: -0.01px;
    text-wrap: balance;
    margin-block: 0px;
    white-space: nowrap;
}
.one-h1 h2{
    font-size: 1.25rem;
    font-family: medium;
    font-weight: 700;
    background-color:#121212;
    color: #fff;
    letter-spacing: -0.01px;
    text-wrap: balance;
    margin-block: 0px;
    white-space: nowrap;
}
.one-h2 h2{
    font-size: 1.25rem;
    font-family: medium;
    font-weight: 700;
    background-color:#121212;
    color: #fff;
    letter-spacing: -0.01px;
    text-wrap: balance;
    margin-block: 0px;
    white-space: nowrap;
}
.slide-one{
    display: flex;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
.container-one{
    display: inline-flex;
    flex-direction: column;
     gap: 8px;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    max-inline-size: 168px;
    margin-left: 8px; 
    height: auto;
}
.container-onee{
    display: inline-flex;
    flex-direction: column;
     /* gap: 8px; */
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    max-inline-size: 168px;
    padding: 8px;
}
.container-two img{
    height: 152px;
    margin-bottom: 3px;
    object-fit: cover;
    aspect-ratio: 1/1;
} 
 .type{
    position: relative;
    font-family: light;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
     display: -webkit-box;
    -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container{
    width: 100px;
    height: 20px;
}
.footer{
    text-align: start;
}
.main-footer{
    background-color: rgb(18, 18, 18);
    padding: 8px 16px 40px;
    width: 100%;
}
.footerr{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.footer-one{
    display: flex;
    flex-flow: column wrap;
    /* margin-top: 2px; */
}
.footer-a{
    margin-bottom: 32px;
}
.footer-b{
  margin-bottom: 32px;  
}
.footer-a h1  , .footer-b h1{
    color: rgb(255, 255, 255);
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: bold;

}
.footer-a ul, .footer-b ul{
      padding-inline-start: 0px;
    /* padding-inline: 32px 0px; */
    margin-block: 0px;
    overflow-wrap: break-word;
    text-decoration: none;
    display: block;
    list-style: none;
}
.footer-a li , .footer-b li{
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 400;
    font-family: light;
    font-size: 1rem;
    margin: 8px 0px;
    width: fit-content;
    /* padding-block-end: 8px; */
    text-transform: none;
}
.footer-two{
    margin-bottom: 40px;
    display: flex
}
.images{
    display: inline;
    padding-right: 16px;
}
.image{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: #b3b3b3;
}
.horizontal-ruler{
    border-radius: rgba(255, 255, 255, 0.1);
    border: 0px;
    border-block-start: 1px solid #292929;
    margin-block: 24px;
    z-index: 1;
    margin-block-start: 0px;
}
.bottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 16px;
}
.ads{
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    /* padding-left: 16px; */
}
.copy-right{
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-items: end;
    color: #b3b3b3;
    /* height: 20px; */
}
.copyy{
    position: relative;
    top: 2px;
}
.english{
    padding-top: 24px;
    position: relative;
    bottom: 4px;
    /* padding-left: 16px; */
    /* padding-bottom: 68px; */
}
.about-ads{
    margin-right: 16px;
    margin-bottom: 8px;
}
.legal , .copyy p{
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: medium;
    color: #b3b3b3;
}
.eng-btn{
    padding-inline-start: 34px;
    background-color: transparent;
    border-radius: 9999px;
    text-align: center;
    will-change: transform;
    border: 1px solid #7c7c7c;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 97.64px;
    height: 32px;
}
.eng-btn img{
    inset-inline-start: 12px;
    display: flex;
    position: absolute;
}
.eng{
    font-weight: 700;
    font-family: bold;
    font-size: 0.8125rem;
    padding-inline: 16px;
    min-block-size: 32px;
    padding-block: 4px;
    inset-inline-start: 12px;
    padding-left: 1px;
    display: flex;
    align-items: center;
}
.coma{
    display: block;
   /* height: 22px;  */
    width: 100%;
    z-index: 1;
    color:white;
}
/**/
@media screen and (min-width:768px) {
    .footer{
        margin-top: 30px;
    }
    .main-footer{
        margin-top: -30px;
    }
    .footer-one{
        flex-direction: row;
    }
    .footer-a, .footer-b{
        width: 40%;
        margin-right: 24px;
        margin-bottom: 32px;
    }
    .footer-two{
        margin-bottom: 38px;
    }
    .bottom{
       position: relative;
       bottom: -2px;
    }
    .copy-right{
        padding-top: 2px;
    }
}
@media screen and (min-width:992px) {
    .footer{
        margin-top: 22px;
    }
    .footerr{
        flex-direction: row;
    }
    .footer-one{
        flex: 1 1 50%;
        padding-bottom: 0px;
        margin-top: 10px;
        position: relative;
        bottom: 2px;
    }
    .footer-a , .footer-b{
        width: 152px;
        margin-bottom: 18px;
        margin-right: 27px;
    }
    .footer-two{
        margin-bottom: 40px;
        margin-right: -16px;
        padding-top: 8px;
    }
    .main-footer{
        padding-left: 32px;
        padding-right: 32px;
    }
    .bottom{
        flex-flow: row;
        align-items: start;
        bottom: 4px;
    }
    .english{
        display: none;
    }
    .horizontal-ruler{
        border-color: rgba(255, 255, 255, 0.1);
        border: 0px;
        border-block-start: 1px solid #292929;
        margin-block: 20px, 24px;
        z-index: 1;
        position: relative;
        bottom: 8px;
    }
    .horizontal-ruler{
        border-color: rgba(255,255,255,0.1);
        border: 0px;
        border-block-start: 1px solid #292929;
        margin-block: 20px;
    }
    .copyy{
        padding-right: 16px;
    }
    .copy-right{
        position: relative;
        bottom: 8px;
    }
    .copyy p{
        font-family: light;
    }
    .english{
        display: none;
    }
    .horizontal-ruler{
        background-color: rgba(255, 255, 255, 0.1);
        border: 0px;
        border-block-start: 1px solid #292929;
        margin-block: 20px;
    }
    .copyy{
        display: flex;
        flex-direction: column;  
    }
}
